:root{
    --primary:#17a2b8;
}


*{
    text-align: right;
    direction: rtl;
}
html{
    scroll-behavior: smooth;
}
.container{
    background: #f9f9ff;
    border-radius: 1em;
    margin:2em 0;
    padding:1em;
}

img{
    border-radius: 1em;
}

h2,h3{
    color: #17a2b8 !important;
}
