:root{
    --primary-color:#e60073;
    --secondary-color:#4d4e50;
}

*{
    text-align: right;
    direction: rtl;
    line-height: 2em !important;
}

html{
    scroll-behavior: smooth;
}

.container{
    border-radius: 1em;
    margin:0.5em 0;
    padding:0.5em 1em;
}

h2,h3{
    color:var(--primary-color) !important;
}

.btn-info{
    background-color: var(--primary-color) !important;
    border-color:var(--primary-color) !important;
}
