.font-weight{
    font-weight: 1000;
    font-size: 40px;
}
.form-group{
    max-width: 250px;
}
.order-color{
    background: rgb(255,240,237);
    background: linear-gradient(165deg, rgba(255,240,237,1) 0%, rgba(255,240,237,1) 97%);
    /* background: rgb(227,228,223);
background: linear-gradient(0deg, rgba(227,228,223,1) 0%, rgba(226,227,231,1) 83%); */
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
  }

.avatar-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
}

.color-font-page{
    font-family: 'Cairo', sans-serif;
    /* background: linear-gradient(67deg, rgb(242, 245, 244) 0%, rgb(245, 248, 250) 97%); */
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,245,246,1) 71%);
}

.comment-text{
    text-align: center !important;
    color: #343a40!important;
    font-size: 20px;
    font-weight: 800;
    max-width: 600px;
    margin: auto;
}

.container .card{
    position: relative;
    cursor: pointer;
    background: none;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 200px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content a:hover{
    background: beige;
    color: #fff;
}

#myCarousel > a.carousel-control-next,#myCarousel > a.carousel-control-prev{
    color: #e60073;
    margin-top:-50px;
    max-width: 30px;
}

.carousel {
    margin: 50px auto;
    text-align: right;
}
.carousel .carousel-item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}
.carousel .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
}
.carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #9b9b9b;
    padding: 15px;
    margin: 0 0 20px 0px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
    background: #9b9b9b;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .carousel-item .row > div:first-child .testimonial {
    margin: 0 0px 20px 0;
}
.carousel .carousel-item .row > div:first-child .media {
    margin-left: 0;
}
.carousel .testimonial p {
    line-height: 21px;
}

.carousel .overview {
    padding: 3px 0 0 15px;
}
.carousel .overview .details {
    padding: 5px 0 8px;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #e60073 !important;
}

.item-itself{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    padding-right: 10em;
    padding-left: 10em;
    }



    /* media query */
    @media only screen and (max-width: 600px) {
        .item-itself {
            padding-right: 4em;
            padding-left: 4em;
        }

        .comment-text{
            font-size: 15px;
            font-weight: 800;
        }
        .glow{
            font-size: 18px !important;
        }
      }

      .icon-color{
        color: #e60073;
      }


.carousel-indicators {
    bottom: 0px;
    margin: -30px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 17px;
    height: 17px;
    border-radius: 0;
    box-sizing: border-box;
}
.carousel-indicators li {	
    background: #999;
}
.carousel-indicators li.active {
    color: #fff;
    background: #e60073;
    border: 5px double;    
}
.star-rating li {
    padding: 0 2px;
}
.star-rating i {
    font-size: 14px;
    color: #ffdc12;
}

ul.list-inline{
    padding-right: 0%;
}

div.media-body{
    padding-right: 1em;
}
li.list-inline-item{
    margin-right: 0px !important;
}

.btn{
    max-width: 200px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold !important;
    font-size: 20px !important;
    min-width: 100px !important;
}

.footer-social a i{
    color:#e60073;
    margin-left:1em;
}

.section-color{
    /* background: #f9f9ff; */
    box-shadow: 0px 0px 85px -29px rgba(0,0,0,0.75);
    background: rgb(238,174,202);
background: radial-gradient( rgb(220, 224, 240) 0%, rgba(239,241,244,1) 100%);

}

.glow {
    font-size: 30px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6;
    }
  }
  
